.controls {
  display: flex;
  justify-content: space-around;
  max-width: 25em;
  width: 100%;

  &__break-length, &__session-length {
    background-color: rgba(255, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;
    width: auto;

    i {
      padding: 0.5em;
    }

    p {
      margin: 0 0 0.5em;
      text-align: center;
      width: 100%;
    }
  }
}
